@charset "UTF-8";
/* CSS Document */
 [data-role="header"] h1 {
    text-align: center;
}
.ui-grid-b .ui-block-a {
    width: 3%;
    padding: 0;
    margin: 0;
	text-align: center;
}
.ui-grid-b .ui-block-b {
    width: 94%;
}
.ui-grid-b .ui-block-c {
    width: 3%;
    padding: 0;
    margin: 0;
	text-align: center;
}
.alphabetText, .numberText {
	font-size:40px;
	text-align: center;
}
.red {
	width: 100%;
	height: 100px;
	background-color: red;
}
.black {
	width: 100%;
	height: 100px;
	background-color: black;
}
.silver {
	width: 100%;
	height: 100px;
	background-color: silver;
}
.gray {
	width: 100%;
	height: 100px;
	background-color: gray;
}
.white {
	width: 100%;
	height: 100px;
	background-color: white;
}
.maroon {
	width: 100%;
	height: 100px;
	background-color: maroon;
}
.beige {
	width: 100%;
	height: 100px;
	background-color: beige;
}
.purple {
	width: 100%;
	height: 100px;
	background-color: purple;
}
.fuchsia {
	width: 100%;
	height: 100px;
	background-color: fuchsia;
}
.green {
	width: 100%;
	height: 100px;
	background-color: green;
}
.lime {
	width: 100%;
	height: 100px;
	background-color: lime;
}
.olive {
	width: 100%;
	height: 100px;
	background-color: olive;
}
.yellow {
	width: 100%;
	height: 100px;
	background-color: yellow;
}
.navy {
	width: 100%;
	height: 100px;
	background-color: navy;
}
.teal {
	width: 100%;
	height: 100px;
	background-color: teal;
}
.aqua {
	width: 100%;
	height: 100px;
	background-color: aqua;
}
.orange {
	width: 100%;
	height: 100px;
	background-color: orange;
}
.brown {
	width: 100%;
	height: 100px;
	background-color: brown;
}
.gold {
	width: 100%;
	height: 100px;
	background-color: gold;
}
.grey {
	width: 100%;
	height: 100px;
	background-color: grey;
}
.pink {
	width: 100%;
	height: 100px;
	background-color: pink;
}
.plum {
	width: 100%;
	height: 100px;
	background-color: plum;
}
.salmon {
	width: 100%;
	height: 100px;
	background-color: salmon;
}
.tan {
	width: 100%;
	height: 100px;
	background-color: tan;
}
.lavender {
	width: 100%;
	height: 100px;
	background-color: lavender;
}
.circle {
	width: 100px;
	height: 100px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
